:root {
  --color-theme: #171313;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #413d53;
  --color-border: #ccc;
  --color-body-darker: #51421c;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background: #1e90ff;
  color: #fff;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Merriweather", serif;
  color: var(--color-body);
  font-size: 2rem;
  line-height: 1.5;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon--white {
  fill: #fff;
}
.icon--round {
  border: 1px solid var(--color-theme);
  border-radius: 50%;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}
/* Collapsible */
.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/* Nav-Bar */
.nav {
  background: var(--color-theme);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}
.nav__list {
  width: 100%;
  margin: 0;
}
.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.nav__item > a {
  color: #f2e1cc;
  text-decoration: none;
  font-size: 1.8rem;
  transition: color 0.3s;
  text-align: center;
}
.nav__item > a:hover {
  color: #fff;
}
.nav__toggler {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.2s;
}

.nav .collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px gold;
  border-radius: 5px;
}
.nav__brand {
  text-decoration: none;
  font-family: "Ma Shan Zheng", cursive;
  font-size: 3rem;
  color: #fff;
  margin: 1rem 2rem;
}
.font-icon.nav__social {
  font-size: 1.8rem;
  margin: 0 1.7rem;
}
.font-icon.nav__social:hover {
  display: inline-block;
  transform: translateY(-7px);
  transition: all 0.3s;
}
.nav__list__social {
  display: flex;
}
.nav__list__social li {
  margin: 1rem 0;
}
.nav__item__english {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .nav {
    justify-content: space-between;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    display: flex;
    font-size: 1.6rem;
    margin-left: 3rem;
    max-height: 100vh;
    opacity: 1;
    transform: translateX(-25px);
    width: auto;
  }
  .nav__item {
    border: 0;
  }
  .nav__item__english {
    display: block;
    margin: 0;
  }
}

/* Blocks */
.block {
  --padding-vertical: 4rem;
  padding: var(--padding-vertical) 2rem;
}
.block__heading {
  margin-top: 0;
}
.block--dark {
  background: #000;
  color: #7b858b;
}
.block--orange {
  background: #fff8f3;
  color: #000;
}
.block--dark .block__heading {
  color: #fff;
}

.block__header {
  text-align: center;
  margin-bottom: 2.5rem;
}

/* Grids */
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Hero */
.hero__heading {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.hero__tagline {
  font-size: 2rem;
  color: #647182;
  letter-spacing: 1px;
  margin: 2rem 0 2rem;
}
.hero__image {
  width: 100%;
  max-height: 542px;
}
.hero__anchor {
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0;
  }
  .hero__heading {
    font-size: 5rem;
  }
  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/* Anchor Button */
.anchor {
  border-radius: 40px;
  border: 0;
  font-size: 1.8rem;
  font-weight: 600;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 1rem 0;
  text-decoration: none;
}
.anchor--accent {
  background: var(--color-accent);
  color: #fff;
}
.anchor:hover {
  background: #ec3000;
}
.anchor--block {
  width: 100%;
  display: inline-block;
}
.anchor--outline {
  border: 2px solid var(--color-theme);
  background: transparent;
  color: var(--color-theme);
  transition: all 0.3s;
}

.anchor--outline:hover {
  background: var(--color-theme);
  color: #fff;
}
/* Shopify Block */
.block-shopify {
  margin: 1.5rem auto;
  padding: 0 1rem;
}
.block-shopify .grid {
  justify-items: center;
  margin-top: 1.5rem;
  row-gap: 1.5rem;
  overflow: hidden;
}
.block-shopify__image {
  background: #000;
  object-fit: cover;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  max-height: 300px;
  max-width: 350px;
}
.block-shopify__image img {
  width: 100%;
}
.block-shopify__image img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.shopify__header {
  display: flex;
  justify-content: center;
  background: #fff1de;
  border-radius: 10px;
}
.shopify__icon {
  margin-right: 1.5rem;
}
@media screen and (min-width: 768px) {
  .block-shopify .grid {
    column-gap: 1.5rem;
  }
}

/* Showcase Block */
.block-showcase {
  margin: 1.5rem 0 1rem;
}
.block-showcase .block__heading {
  margin: 0 0 1.5rem;
}
.block-showcase img {
  width: 100%;
  max-height: 500px;
}
.showcase__heading__description {
  margin-top: 4rem;
}
.showcase__description {
  margin: 1.2rem 0;
}
.showcase__anchor {
  margin-top: 6rem;
  text-align: center;
}

/* Footer */
.block-footer {
  background: #232323;
}
.footer__heading {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
}
.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}
.footer__brand {
  margin-top: 2rem;
  text-align: center;
}
.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
}
.footer__item {
  border-bottom: 1px solid lightgrey;
  padding: 1rem 0;
}
.footer__item:last-of-type {
  border: 0;
}
.footer__item > a {
  text-decoration: none;
  color: lightgrey;
  font-size: 1.6rem;
  opacity: 0.6;
  transition: all 0.2s;
}
.footer__item a:hover {
  color: #fff;
  opacity: 1;
}
.footer__section .list {
  margin: 0;
}
.footer__brand--image {
  width: 100%;
  max-width: 300px;
}
.footer__collapsible__description {
  color: lightgrey;
  opacity: 0.6;
  font-size: 1.5rem;
  line-height: 2;
}
.footer__icon {
  margin: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .block-footer .collapsible__chevron {
    display: none;
  }
  .block-footer .collapsible__content {
    max-height: 100%;
    opacity: 1;
  }
  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }
  .footer__copyright {
    font-size: 1.5rem;
  }
  .footer__section {
    border: 0;
  }
  .footer__heading {
    font-size: 1.6rem;
  }
}
/* Footer copyright */
.footer-copyright {
  padding: 1rem;
  background: var(--color-theme);
  text-align: center;
}
.footer-copyright__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 1rem;
}
.footer-copyright__item {
  margin: 0 1.5rem;
}
.footer-copyright .nav__brand {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .footer-copyright .container {
    display: flex;
    justify-content: space-between;
  }
  .footer-copyright .nav__brand {
    margin-bottom: 0;
  }
  .footer-copyright__list {
    margin-bottom: 0;
  }
}

/* BreadCrumbs */
.bread-crumb {
  background: grey;
  padding: 1rem;
  font-size: 1.5rem;
  color: #000;
}
.bread-crumb a {
  text-decoration: none;
  color: #fff;
}
.bread-crumb a:hover {
  color: #000;
}

/* Secondary Block */
.block-secondary__header {
  color: var(--color-body-darker);
}

.secondary__header--first {
  font-weight: 400;
  transform: translateX(-12px);
}
.secondary__heading {
  margin-bottom: 5rem;
}
.secondary__heading__item {
  margin: 0;
}

/* About Block */
.block-about {
  padding: 0 1.5rem;
}
.block-about img {
  height: 200px;
  width: 100%;
}
.block-about .about__description {
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .block-about .grid {
    column-gap: 3rem;
  }
}
/* Story Block */
.block-story {
  background: #ffe1c6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--color-body-darker);
}
.story__title {
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
}
.story__title__mandarin {
  font-family: "Ma Shan Zheng", cursive;
}
.story__body {
  font-size: 1.6rem;
}
.story__body p:first-of-type {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .block-story .grid {
    grid-template-columns: auto 1fr 1fr;
    column-gap: 3.5rem;
  }
}

/* Feature Block */
.block-feature {
  text-align: center;
  background: var(--color-theme);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 2rem;
}
.block-feature img {
  margin: auto;
}
.feature__list {
  color: #fff;
  font-size: 1.8rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
}
.feature__list__title {
  margin-bottom: 0;
  color: var(--color-body-darker);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .block-feature {
    text-align: left;
  }
  .block-feature .list {
    list-style: decimal;
  }
}
/* Media Objects */
.media {
  display: flex;
}
.media__title {
  margin-top: 0;
}
.media__body {
  margin: 0 2rem;
}
.media__image {
  margin-top: 1rem;
}
/* Step Block */
.block-step {
  font-size: 1.2rem;
}
.block-step .grid {
  justify-items: center;
  margin: 6rem 0 0;
}
.block-step:first-of-type .grid {
  margin-top: 0;
}
.block-step__header {
  font-size: 1.2rem;
}
#block-step {
  padding-top: 0;
}

.step__image {
  width: 250px;
  max-height: 180px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 8px 2px #6f8295;
}

@media screen and (min-width: 768px) {
  .block-step:nth-of-type(even) .step__image {
    grid-column: 1;
    grid-row: 1;
    margin-right: 4rem;
  }
  .block-step .grid--1x2 {
    grid-template-columns: 1.5fr auto;
  }
  .block-step {
    font-size: 2rem;
    padding-top: 2rem;
  }
  .block-step__header {
    font-size: 2rem;
  }
  #block-step {
    padding-top: 2rem;
  }
}

/* Font Icon */
.font-icon {
  font-size: 2rem;
  margin: 0 3rem;
  text-decoration: none;
  color: #f2e1cc;
}

.font-icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ffe08f;
  transition: all 0.2s;
}
.font-icon:hover {
  color: #fff;
}
.font-icon-container:hover {
  border-color: #fff;
}

/*Facebook Block  */
.block-news {
  padding-top: 0;
}
.fb-page {
  max-width: 500px;
  margin-bottom: 5rem;
}

/* News Container */
.container-news .block-secondary__header {
  line-height: 1.5;
  font-family: "Merriweather", serif;
}
.container-news .secondary__header--first {
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
.container-news .secondary__heading__h3 {
  font-weight: bold;
  margin-bottom: 0.7rem;
}
.container-news .secondary__heading__item {
  font-size: 2rem;
}
.block-news .grid {
  overflow: hidden;
}
.block--footer__news {
  font-family: "Merriweather", serif;
}
.nav__brand__news:hover {
  color: #fff;
}
.icon__news {
  font-size: 20px;
}
@media screen and (min-width: 999px) {
  .block-news .grid {
    grid-template-columns: 1fr 1fr;
    max-height: 500px;
  }
}
/* Carousel */
.carousel {
  max-height: 600px;
  width: 70%;
}

.carousel__title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-body-darker);
  text-align: center;
  margin: 4rem 0 2rem;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background: rgba(74, 82, 76, 0.8);
}

@media screen and (min-width: 520px) {
  .carousel {
    width: 90%;
  }
}

@media screen and (min-width: 990px) {
  .carousel {
    margin-left: 2rem;
    width: 90%;
  }
  .carousel__title {
    margin: 0 0 2rem;
  }
}

/*Contact Block  */
.block-contact {
  padding: 1rem;
}

.contact__description {
  margin: 0 2rem 2rem 0;
}

/* Back to top icon */
#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 3px;
  border-color: var(--color-accent);
  background: var(--color-accent);
  text-align: center;
  transition: all 0.3s;
}

/* Form */
label {
  display: block;
}
textarea {
  resize: none;
}
textarea:focus {
  border-color: #7db0fb;
  box-shadow: 0 0 0 3px rgba(24, 117, 255, 0.2);
}
.form-group {
  margin-bottom: 3rem;
}
.form-control {
  width: 80%;
  max-width: 400px;
  margin-top: 0.5rem;
  outline: 0;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 10px;
  font-size: 1.5rem;
  transition: border-color 0.2s, box-shadow 0.2s;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border-color: #7db0fb;
  box-shadow: 0 0 0 3px rgba(24, 117, 255, 0.2);
}
.submit__button {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: none;
  background: #1e90ff;
  color: #fff;
  outline: 0;
  margin-bottom: 5rem;
}
.submit__button:hover {
  background-color: #2d77bf;
}
.contact__description {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.iframe__maps {
  width: 100%;
}

/* Filter Section */
.filter {
  position: sticky;
  top: 0;
  flex-direction: column;
  text-align: center;
  background-color: beige;
  z-index: 999;
}
.filter:hover {
  cursor: pointer;
}
.filter a {
  text-decoration: none;
  display: inline-block;
  flex-direction: column;
  color: var(--color-body-darker);
  font-size: 1.5rem;
  padding: 1rem 0;
  transition: color 0.2s;
  font-weight: 600;
}
.filter a:hover {
  color: #647182;
}
.filter__content {
  display: flex;
  flex-direction: column;
}
.filter__icon {
  margin: 1rem;
}
.collapsible--expanded .filter__icon {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

@media screen and (min-width: 768px) {
  .filter {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .filter a {
    border: none;
  }
}
/* Regular Block */
.block-regular {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px #ccc;
  margin-bottom: 3rem;
}
.regular__product__image {
  width: 100%;
  max-height: 300px;
  max-width: 400px;
  padding: 2rem 1rem;
  margin: 0 auto;
}
.regular__product__buy-now {
  position: absolute;
  right: 30px;
  bottom: 0;
  text-decoration: none;
  font-weight: bold;
  color: var(--color-theme);
}
.regular__product__buy-now::after {
  content: " >";
}
.regular__product__buy-now:hover {
  color: var(--color-accent);
  transform: translateX(20px);
  transition: all 0.3s;
}
.regular__product__price {
  margin-bottom: 0;
}
.regular__product__description {
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .regular__product__image {
    padding-right: 5rem;
  }
  .block-regular .grid--1x2 {
    grid-template-columns: auto auto;
  }
}
