<section class="block container block-about">
  <header class="block-secondary__header">
    <h3 class="secondary__header--first">About Us | 关于我们</h3>
    <div class="secondary__heading">
      <h3 class="secondary__heading__item">50 Years of Great Taste</h3>
      <p class="secondary__heading__item">50年传承好滋味</p>
    </div>
  </header>
  <img
    style="background-color: black"
    src="/images/banner/banner_zn0vat_c_scale,w_790.webp"
    alt=""
  />
  <div class="grid grid--1x2">
    <div>
      <p class="about__description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum quidem
        nemo explicabo enim, neque
      </p>
      <p class="about__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam
        voluptatibus omnis aspernatur similique neque debitis odit rem nobis
        optio? Debitis!
      </p>
      <p class="about__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque,
        cupiditate! Esse quasi quibusdam delectus voluptatibus?
      </p>
      <p class="about__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium,
        minus?
      </p>
    </div>
    <div>
      <p class="about__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, a.
      </p>
      <p class="about__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
        consectetur laudantium, magnam delectus quod illo.
      </p>
      <p class="about__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, tenetur!
      </p>
    </div>
  </div>
</section>
