<section class="container block-feature">
  <div class="grid grid--1x3">
    <img src="/images/banner/banner_zn0vat_c_scale,w_200.webp" alt="" />
    <div>
      <p class="feature__list__title">Four of AhMa insistence</p>
      <ul class="list feature__list">
        <li>Seasoned with natural spices</li>
        <li>Handmade</li>
        <li>No Sodium Nitrite added</li>
        <li>No trans fats</li>
      </ul>
    </div>
    <div>
      <p class="feature__list__title">阿嬷四大坚持</p>
      <ul class="list feature__list">
        <li>坚持采用天然香料</li>
        <li>坚持手工制作</li>
        <li>坚持无添加亚硝酸钠</li>
        <li>坚持不含反式脂肪</li>
      </ul>
    </div>
  </div>
</section>
