<div class="footer-copyright">
  <div class="container">
    <div class="nav__brand" href="/">阿嬷的秘方</div>
    <ul class="list contact__list footer-copyright__list">
      <li>
        <a
          href="mailto:yinhang6305@gmail.com"
          class="font-icon-container font-icon footer-copyright__item"
          ><span class="fab fa-facebook-f"></span
        ></a>
      </li>
      <li>
        <a
          href="www.linkedin.com/in/yinhang-ng"
          class="font-icon-container font-icon footer-copyright__item"
          ><span class="fab fa-youtube"></span
        ></a>
      </li>
      <li>
        <a
          href="/CV.pdf"
          class="font-icon-container font-icon footer-copyright__item"
          ><span class="fas fa-file"></span
        ></a>
      </li>
    </ul>
  </div>
</div>
