<section class="block block--orange hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content" data-aos="fade-right">
      <h1 class="block__heading hero__heading">轻松下厨</h1>
      <h1 class="block__heading hero__heading">Cooking Made Easy</h1>
      <p class="hero__tagline">只需八分钟便可享用。</p>
      <p class="hero__tagline">Ready to serve in 8 minutes.</p>
      <div class="hero__anchor">
        <a class="anchor anchor--accent anchor--stretched" href="#block-step">
          开始 / Get Started
        </a>
      </div>
    </header>
    <img
      data-aos="fade-left"
      class="hero__image"
      sizes="(max-width: 1400px) 100vw, 1400px"
      srcset="
        /images/banner/banner_zn0vat_c_scale,w_200.webp   200w,
        /images/banner/banner_zn0vat_c_scale,w_790.webp   790w,
        /images/banner/banner_zn0vat_c_scale,w_1116.webp 1116w,
        /images/banner/banner_zn0vat_c_scale,w_1400.webp 1400w
      "
      src="/images/banner.png"
      alt=""
    />
  </div>
</section>
