<nav class="nav collapsible">
  <a class="nav__brand" href="/">阿嬷的秘方</a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="/images/sprite(1).svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item">
      <a
        href="https://ahmarecipe.vvin.com/vmart/?fbclid=IwAR2wUspjyRrD_QSQ4uAvxzgqZruPWHQ38DfWNQBKLU13vbEp_zX12N8QI4A"
        >Shop</a
      >
    </li>
    <li class="nav__item"><a href="/about.html">About</a></li>
    <li class="nav__item"><a href="/news.html">News</a></li>
    <li class="nav__item"><a href="/contact.html">Contact</a></li>
  </ul>
  <ul class="list nav__list nav__list__social collapsible__content">
    <li>
      <a
        href="https://www.facebook.com/ahmarecipe2020/"
        target="_blank"
        class="font-icon nav__social"
        ><span class="fab fa-facebook-f"></span
      ></a>
    </li>
    <li>
      <a
        href="https://www.youtube.com/channel/UC578LiTnvOnsKQJWIyIOl-Q"
        target="_blank"
        class="font-icon nav__social"
        ><span class="fab fa-youtube"></span
      ></a>
    </li>
  </ul>
</nav>
