<section class="container block-shopify">
  <header class="shopify__header">
    <div class="icon shopify__icon fas fa-truck"></div>
    <div>
      Free delivery services within Segamat, Johor<br />柔佛昔加末县内免运费
    </div>
  </header>
  <div class="grid grid--1x3">
    <a class="block-shopify__image" href="#">
      <img src="/images/banner/banner_zn0vat_c_scale,w_200.webp" alt="" />
    </a>
    <a class="block-shopify__image">
      <img src="/images/banner/banner_zn0vat_c_scale,w_200.webp" alt="" />
    </a>
    <a class="block-shopify__image">
      <img src="/images/banner/banner_zn0vat_c_scale,w_200.webp" alt="" />
    </a>
  </div>
</section>
