<section class="block block--dark block-showcase" id="1" data-aos="fade-zoom-in">
  <header class="container block__header">
    <h2 class="block__heading">Natural. Handmade. Improvements.</h3>
    <h2 class="block__heading">天然，纯手工，研发改良。</h3>
    <div class="showcase__heading__description">
      <p class="showcase__description">A heartwarming gift with a peace of mind.</p>
      <p class="showcase__description">买得放心，送礼贴心，吃得安心!</p>
    </div>
  </header>
  <div class="showcase__anchor">
    <a href="" class="anchor anchor--outline"
      >The Story of Ah Ma 阿麻的典故</a
    >
  </div>
  <img src="/images/banner/banner_zn0vat_c_scale,w_790.webp" alt="" />
</section>