<section class="block container">
  <header class="block__header">
    <h2>轻松三步 美味上桌</h2>
    <h2>Ready to serve in 3 easy steps</h2>
  </header>
  <article class="block-step">
    <div class="grid grid--1x2">
      <div class="media">
        <div class="media__image">
          <div class="icon icon--primary">1</div>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start and Managed Updates</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ab ea
            voluptas, maiores dolor dicta.
          </p>
        </div>
      </div>
      <img
        class="step__image"
        src="/images/banner/banner_zn0vat_c_scale,w_200.webp"
        alt=""
      />
    </div>
  </article>
  <article class="block-step">
    <div class="grid grid--1x2">
      <div class="media">
        <div class="media__image">
          <div class="icon icon--primary">2</div>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start and Managed Updates</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ab ea
            voluptas, maiores dolor dicta.
          </p>
        </div>
      </div>
      <img
        class="step__image"
        src="/images/banner/banner_zn0vat_c_scale,w_200.webp"
        alt=""
      />
    </div>
  </article>
  <article class="block-step">
    <div class="grid grid--1x2">
      <div class="media">
        <div class="media__image">
          <div class="icon icon--primary">3</div>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start and Managed Updates</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ab ea
            voluptas, maiores dolor dicta.
          </p>
        </div>
      </div>
      <img
        class="step__image"
        src="/images/banner/banner_zn0vat_c_scale,w_200.webp"
        alt=""
      />
    </div>
  </article>
</section>
