<section class="block container block-story">
  <div class="grid grid--1x3">
    <div class="story__title">
      The Story of Ah Ma <br />
      <span class="story__title__mandarin">阿嬷的典故</span>
    </div>
    <div class="story__body">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis
        sapiente et necessitatibus illum nihil voluptatum laudantium voluptas
        sed in reprehenderit!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
        quisquam totam quasi, tempore corporis dicta.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reiciendis
        ipsa porro aperiam fugiat quae vitae, optio id veritatis asperiores?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reiciendis
        ipsa porro aperiam fugiat quae vitae, optio id veritatis asperiores?
      </p>
    </div>
    <div class="story__body">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis
        sapiente et necessitatibus illum nihil voluptatum laudantium voluptas
        sed in reprehenderit!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
        quisquam totam quasi, tempore corporis dicta.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reiciendis
        ipsa porro aperiam fugiat quae vitae, optio id veritatis asperiores?
      </p>
    </div>
  </div>
</section>
